/* style.css */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Set the body font */
}
#titleBar {
    background-color: #333; /* Dark gray background */
    color: #f8f8f8; /* Off-white text */
    text-align: center; /* Center the text */
    padding: 15px; /* Add some padding */
    font-size: 24px; /* Font size for title */
    font-weight: bold; /* Bold font */
    position: relative; /* Position for layout */
    z-index: 10; /* Ensure it appears above the map */
}
#viewDiv {
    height: 100vh; /* Full height of the viewport */
    margin-top: 0; /* Remove margin */
}

#messageDiv {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.esri-heading {
    color: #333;
}
